User_Manager/src/main/resources/UserManager.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://bookWorms.com/usermanager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="usermanager"
	targetNamespace="http://bookWorms.com/usermanager">
	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:fault="http://bookWorms.com/ws/faults" xmlns:target="http://bookWorms.com/usermanager"
			targetNamespace="http://bookWorms.com/usermanager"
			attributeFormDefault="qualified" elementFormDefault="qualified">
			<include schemaLocation="./UserManager.xsd" />
			<import namespace="http://bookWorms.com/ws/faults"
				schemaLocation="./Faults.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="addUserRequest">
		<wsdl:part name="addUserRequest" element="tns:addUserRequest"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="addUserResponse">
		<wsdl:part name="addUserResponse" element="tns:addUserResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="signInRequest">
		<wsdl:part name="signInRequest" element="tns:signInRequest"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="signInResponse">
		<wsdl:part name="signInResponse" element="tns:signInResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="getUserRequest">
		<wsdl:part name="getUserRequest" element="tns:getUserRequest"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="getUserResponse">
		<wsdl:part name="getUserResponse" element="tns:addUserResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="forgotPasswordRequest">
		<wsdl:part name="forgotPasswordRequest" element="tns:forgotPasswordRequest"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="forgotPasswordResponse">
		<wsdl:part name="forgotPasswordResponse" element="tns:forgotPasswordResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="resetPasswordRequest">
		<wsdl:part name="resetPasswordRequest" element="tns:resetPasswordRequest"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="resetPasswordResponse">
		<wsdl:part name="resetPasswordResponse" element="tns:resetPasswordResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="ClientFaultMessage">
		<wsdl:part name="parameters" element="tns:ClientFault" />
	</wsdl:message>
	<wsdl:message name="ServerFaultMessage">
		<wsdl:part name="parameters" element="tns:ServerFault" />
	</wsdl:message>

	<wsdl:portType name="UserManagerPortType">

		<wsdl:operation name="addUser">
			<wsdl:input message="tns:addUserRequest"></wsdl:input>
			<wsdl:output message="tns:addUserResponse"></wsdl:output>
			<wsdl:fault name="ClientFaultBinding" message="tns:ClientFaultMessage" />
			<wsdl:fault name="ServerFaultBinding" message="tns:ServerFaultMessage" />
		</wsdl:operation>

		<wsdl:operation name="signIn">
			<wsdl:input message="tns:signInRequest"></wsdl:input>
			<wsdl:output message="tns:signInResponse"></wsdl:output>
			<wsdl:fault name="ClientFaultBinding" message="tns:ClientFaultMessage" />
			<wsdl:fault name="ServerFaultBinding" message="tns:ServerFaultMessage" />
		</wsdl:operation>

		<wsdl:operation name="getUser">
			<wsdl:input message="tns:getUserRequest"></wsdl:input>
			<wsdl:output message="tns:getUserResponse"></wsdl:output>
			<wsdl:fault name="ClientFaultBinding" message="tns:ClientFaultMessage" />
			<wsdl:fault name="ServerFaultBinding" message="tns:ServerFaultMessage" />
		</wsdl:operation>

		<wsdl:operation name="forgotPassword">
			<wsdl:input message="tns:forgotPasswordRequest"></wsdl:input>
			<wsdl:output message="tns:forgotPasswordResponse"></wsdl:output>
			<wsdl:fault name="ClientFaultBinding" message="tns:ClientFaultMessage" />
			<wsdl:fault name="ServerFaultBinding" message="tns:ServerFaultMessage" />
		</wsdl:operation>

		<wsdl:operation name="resetPassword">
			<wsdl:input message="tns:resetPasswordRequest"></wsdl:input>
			<wsdl:output message="tns:resetPasswordResponse"></wsdl:output>
			<wsdl:fault name="ClientFaultBinding" message="tns:ClientFaultMessage" />
			<wsdl:fault name="ServerFaultBinding" message="tns:ServerFaultMessage" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="UserManagerBinding" type="tns:UserManagerPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />

		<wsdl:operation name="addUser">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ClientFaultBinding">
				<soap:fault name="ClientFaultBinding" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ServerFaultBinding">
				<soap:fault name="ServerFaultBinding" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="signIn">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ClientFaultBinding">
				<soap:fault name="ClientFaultBinding" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ServerFaultBinding">
				<soap:fault name="ServerFaultBinding" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getUser">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ClientFaultBinding">
				<soap:fault name="ClientFaultBinding" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ServerFaultBinding">
				<soap:fault name="ServerFaultBinding" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="forgotPassword">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ClientFaultBinding">
				<soap:fault name="ClientFaultBinding" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ServerFaultBinding">
				<soap:fault name="ServerFaultBinding" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="resetPassword">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ClientFaultBinding">
				<soap:fault name="ClientFaultBinding" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ServerFaultBinding">
				<soap:fault name="ServerFaultBinding" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="UserManagerService">
		<wsdl:port name="UserManagerPortType" binding="tns:UserManagerBinding">
			<soap:address
				location="http://localhost:8080/User_Manager-0.0.1-SNAPSHOT/user" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
